<form [formGroup]="formTranscripcion" (ngSubmit)="almacenarTranscripcion()">
<div class="modal" tabindex="-1" role="dialog" id="nuevaTranscripcion">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white">
                <h5 class="modal-title">Nueva Transcripción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="row">
					<div class="col-lg-4">
						<div class="form-group">
							<label class="text-secondary">Fecha de Entrega</label>
							<input 
								type="date" 
								formControlName="fechaEntrega"
								class="form-control"
								[min]="hoy"
								[ngClass]="{ 'is-invalid': f.fechaEntrega.errors && submitted }">

								<div class="invalid-feedback" *ngIf="f.fechaEntrega.errors && submitted">
									<div *ngIf="f.fechaEntrega.errors.required">Este es campo es requerido</div>
								</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="form-group">
							<label class="text-secondary">Hora de Entrega</label>
							<ng-select formControlName="horaEntrega"
						    placeholder="Filtrar hora..."
						    class="custom"
						    [dropdownPosition]="'bottom'">
								<ng-option *ngFor="let hora of horas" [value]="hora.item">{{ hora.item }}</ng-option>
							</ng-select>

							<div *ngIf="f.horaEntrega.errors && submitted">
								<small class="text-danger" *ngIf="f.horaEntrega.errors.required">Debe seleccionar una opción</small>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="form-group">
							<label class="text-secondary">Subtotal</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Bs.</span>
								</div>
								<input type="number" 
									formControlName="subtotal"
									class="form-control" 
									placeholder="Ingresa el monto"
									[ngClass]="{ 'is-invalid': f.subtotal.errors && submitted }">

								<div class="invalid-feedback" *ngIf="f.subtotal.errors && submitted">
									<div *ngIf="f.subtotal.errors.required">Este campo es requerido y solo acepta números</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group" *ngIf="usuario">
							<label class="text-secondary">Encargado</label>
							<select class="form-control"
								formControlName="encargado_id"
								[ngClass]="{ 'is-invalid': f.encargado_id.errors && submitted }"
								(change)="obtenerEncargado(f.encargado_id.value)"
								*ngIf="usuario?.rol_id == 1">
								<option value="">Seleccione...</option>
								<option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.usuario }}</option>
							</select>

							<ng-container *ngIf="usuario">
							<input type="text" class="form-control" formControlName="encargado_usuario" *ngIf="usuario.rol_id != 1" readonly>
							</ng-container>

							<div class="invalid-feedback" *ngIf="f.encargado_id.errors && submitted">
								<div *ngIf="f.encargado_id.errors.required">Debes asignar un encargado</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<label class="text-secondary">Categoría</label>
						<select class="form-control"
							formControlName="categoria"
							[ngClass]="{ 'is-invalid': f.categoria.errors && submitted }">
							<option value="">Seleccione</option>
							<option *ngFor="let dato of tipoTranscripciones" [value]="dato.id">{{ dato.descripcion }}</option>
						</select>

						<div class="invalid-feedback" *ngIf="f.categoria.errors && submitted">
							<div *ngIf="f.categoria.errors.required">Debes seleccionar una categoría</div>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="form-group">
							<label class="text-secondary">Titulo</label>
							<textarea 
								formControlName="titulo"
								class="form-control" 
								rows="2" 
								placeholder="Ingresa el titulo"
								[ngClass]="{ 'is-invalid': f.titulo.errors && submitted }"></textarea>

							<div class="invalid-feedback" *ngIf="f.titulo.errors && submitted">
								<div *ngIf="f.titulo.errors.required">Este campo es requerido</div>
							</div>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="form-group">
							<label class="h5">¿Desea adjuntar archivo?</label><br>
							<div class="form-check form-check-inline">
								<input class="form-check-input" 
									type="radio" 
									id="inlineCheckbox1"
									name="adjuntar" 
									(change)="activarArchivo()">
								<label class="form-check-label" for="inlineCheckbox1">Si</label>
							</div>

							<div class="form-check form-check-inline">
								<input class="form-check-input"
									type="radio" 
									id="inlineCheckbox2"
									name="adjuntar" 
									(change)="activarContenido()">
								<label class="form-check-label" for="inlineCheckbox2">No</label>
							</div>

							<div *ngIf="f.activar.errors && submitted">
								<small class="text-danger" *ngIf="f.activar.errors.required">Debes seleccionar una opción</small>
							</div>
						</div>
					</div>

					<div class="col-lg-12" *ngIf="adjuntar == false">
						<div class="form-group">
							<label class="text-secondary">Contenido a investigar</label>
							<textarea class="form-control" 
								formControlName="contenido" 
								rows="4" 
								placeholder="Ingresa el contenido a investigar..."
								[ngClass]="{ 'is-invalid': f.contenido.errors && submitted }"></textarea>
								
								<div class="invalid-feedback" *ngIf="f.contenido.errors && submitted">
									<div *ngIf="f.contenido.errors.required">Este campo es requerido</div>
								</div>
						</div>
					</div>

					<div class="col-lg-12" *ngIf="adjuntar == true">
						<div class="form-group">
							<label class="text-secondary">Archivo</label><br>
							<input type="file" (change)="guardarArchivo($event)">

							<div *ngIf="f.archivo_inv.errors && submitted">
								<small class="text-danger" *ngIf="f.archivo_inv.errors.required">Debe adjuntar el archivo</small>
							</div>
						</div>
					</div>
				</div>  
            </div>
            <div class="modal-footer">
                <a href="#!" #cerrarModal class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
                <button type="submit" [disabled]="formTranscripcion.invalid" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
</form>