<div class="row">
	<div class="col-lg-12">
		<div class="text-center">
			<button onclick="window.print()" class="btn btn-secondary" id="boton"><i class="fas fa-print"></i></button>
		</div><br>

		<div class="my-3">
			<img src="../../assets/imagenes/printer.png" height="45px" width="45px" align="middle"> 
			<span class="h4 ml-1" id="teal">Libreria y Fotocopiado</span> <span class="h3 ml-1" id="teal">Marlenis C.A.</span>
		</div><br>
		
		<div>
			<h4 class="text-center">Cantidad de Ventas Realizadas</h4>
			<h5 class="text-center">
				Desde: <i>01-07-2019</i>
				Hasta: <i>05-07-2019</i>
			</h5>
		</div>

		<div class="row my-5">
			<div class="col-lg-12">
				<div class="row justify-content-end">
					<div class="col-4">
						<ul class="list-group">
							<li class="list-group-item">
								<span class="h6"><b>Cantidad:</b>  50</span>
							</li>
							<li class="list-group-item">
								<span class="h6"><b>Total:</b>  Bs. 1.000.000</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<table class="table">
			<thead class="text-center">
				<tr>
					<th>Fecha</th>
					<th>Cantidad</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody class="text-center">
                <tr>
					<td>05-07-2019</td>
					<td>10</td>
					<td>Bs. 450.000</td>
				</tr>

                <tr>
					<td>04-07-2019</td>
					<td>10</td>
					<td>Bs. 450.000</td>
				</tr>

				<tr>
					<td>03-07-2019</td>
					<td>10</td>
					<td>Bs. 450.000</td>
				</tr>

				<tr>
					<td>02-07-2019</td>
					<td>10</td>
					<td>Bs. 320.000</td>
				</tr>


                <tr>
					<td>01-07-2019</td>
					<td>10</td>
					<td>Bs. 320.000</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
