<div class="row">
	<div class="col-lg-12">
		<div class="text-center">
			<button onclick="window.print()" class="btn btn-secondary" id="boton"><i class="fas fa-print"></i></button>
		</div><br>

		<div class="my-3">
			<img src="../../assets/imagenes/printer.png" height="45px" width="45px" align="middle"> 
			<span class="h4 ml-1" id="teal">Libreria y Fotocopiado</span> <span class="h3 ml-1" id="teal">Marlenis C.A.</span>
		</div><br>
		
		<div>
			<h4 class="text-center">Transcripciones por entregar</h4>
		</div>

		<div class="row my-5">
			<div class="col-lg-12">
				<div class="row justify-content-end">
					<div class="col-5">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="row">
									<div class="col-5">
										<span class="h6"><b>Total:</b></span>
									</div>

									<div class="col-7">
										<span class="h6">Bs. 55.000</span>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row">
									<div class="col-5">
										<span class="h6"><b>T. Abonado:</b></span>
									</div>

									<div class="col-7">
										<span class="h6">Bs. 17.000</span>
									</div>
								</div>
							</li>

							<li class="list-group-item">
							    <div class="row">
									<div class="col-5">
										<span class="h5"><b>Por Cobrar:</b></span>
									</div>

									<div class="col-7">
										<span class="h5">Bs. Bs.29.500</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<table class="table">
			<thead class="text-center">
				<tr>
					<th>Fecha de Solicitud</th>
					<th>Fecha de Entrega</th>
					<th>Monto</th>
					<th>Abono</th>
					<th>Deuda</th>
				</tr>
			</thead>
			<tbody class="text-center">
                <tr>
					<td>05-07-2019 04:35pm</td>
					<td>10-07-2019 03:00pm</td>
					<td>Bs. 30.000</td>
					<td>Bs. 15.000</td>
					<td>Bs. 15.000</td>
				</tr>

                <tr>
					<td>08-07-2019 01:49pm</td>
					<td>12-07-2019 10:00am</td>
					<td>Bs. 25.000</td>
					<td>Bs. 12.000</td>
					<td>Bs. 14.500</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


