<table class="table table-hover" *ngIf="productos?.length > 0">
	<thead class="bg-secondary text-white text-center">
		<tr>
			<th>#</th>
			<th>Descripción</th>
			<th>Cantidad</th>
			<th>Precio U.</th>
			<th>Subtotal</th>
		</tr>
	</thead>
	<tbody class="text-center">
		<tr *ngFor="let producto of productos | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
			<td>{{ i+1 }}</td>
			<td>{{ producto.producto.nombre }}</td>
			<td>{{ producto.cantidad }}</td>
			<td>{{ producto.precioUnitario }}</td>
			<td>{{ producto.subtotal }}</td>
		</tr>
	</tbody>
</table>
<pagination-controls class="text-right" (pageChange)="p = $event"></pagination-controls>