<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-box"></i> Gestión de Inventario</span>
		<ol class="breadcrumb" style="float:right;">
	  		<li class="breadcrumb-item">
	    		<a routerLink="/inicio">
	    			<i class="fas fa-home"></i>
	    		</a>
	  		</li>
	  		<li class="breadcrumb-item active">Inventario</li>
		</ol>
		<hr id="linea">
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-12">
	    <div class="row mb-3">
			<div class="col-lg-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-search"></i></span>
					</div>
					<input type="text" [(ngModel)]="busqueda" class="form-control" placeholder="Buscar Producto...">
				</div>
			</div>

			<div class="col-lg-8">
				<button class="btn btn-primary float-right" data-toggle="modal" data-target="#agregarProducto" title="Agregar Producto">
					<i class="fas fa-plus"></i>
				</button>
			</div>
		</div>

		<table class="table table-hover">
			<thead class="text-center bg-secondary text-white">
				<tr>
					<th>#</th>
					<th>Producto</th>
					<th>Categoría</th>
					<th>Precio</th>
					<th>Cantidad D.</th>
					<th>Estatus</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="text-center">
				<tr *ngFor="let producto of productos | filtro: { nombre: busqueda, categoriaNombre: busqueda, estadoTexto: busqueda } | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
					<td class="align-middle">{{ i+1 }}</td>
					<td class="align-middle">{{ producto.nombre }}</td>
					<td class="align-middle">{{ producto.categoriaNombre }}</td>
					<td class="align-middle">Bs. {{ producto.precio_venta | separador }}</td>
					<td class="align-middle">
						<span [ngClass]="producto.stock > 0  ? 'h4 text-success' : 'h4 text-danger'">
						{{ producto.stock }}
						</span>
					</td> 
					<td class="align-middle">
						<span [ngClass]="producto.estado == 1 ? 'badge badge-pill badge-success' : 'badge badge-pill badge-danger'">{{ producto.estadoTexto }}</span>
					</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-secondary" [routerLink]="['/inventario/entradas', producto.id]">
								<i class="fas fa-eye"></i>
							</a>

							<a class="btn btn-secondary" [routerLink]="['/inventario/editar', producto.id]">
								<i class="fas fa-edit"></i>
							</a>

							<button class="btn btn-secondary" (click)="producto.estado == 1 ? desactivarProducto(producto.id) : activarProducto(producto.id)">
								<i class="fas fa-trash"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<pagination-controls class="text-right" (pageChange)="p = $event"></pagination-controls>
	</div>
</div>
<app-producto-compra (actualizarProductos)="listarProductos()"></app-producto-compra>