<form [formGroup]="formulario" (ngsubmit)="procesarPeticion()">
<div class="row">
	<div class="col-lg-8 offset-lg-2">
		<div class="form-group">
			<a routerLink="/iniciarsesion">
				<span class="h5"><i class="fas fa-chevron-left"></i> Volver</span>
			</a>
		</div>
		<div class="card">
			<div class="card-header">
				<h4 class="text-center">Recuperar Contraseña</h4>
			</div>
		</div>
		<div class="card-body">
			<div class="form-group">
				<label class="text-secondary">Usuario</label>
				<input type="text"
					class="form-control"
					formControlName="usuario"
					placeholder="Ingresa el usuario..."
					[ngClass]="{ 'is-invalid': f.usuario.errors && submitted }"
					[attr.readonly]="continuar ? true : null">

				<div class="invalid-feedback" *ngIf="f.usuario.errors && submitted">
		            <div *ngIf="f.usuario.errors.required">{{ input_required }}</div>
		            <div *ngIf="f.usuario.errors.minlength">El usuario debe de contener por lo menos 6 caracteres</div>
			    </div>
			</div>

			<div class="form-group text-right">
				<a id="pointer" (click)="obtenerUsuario(f.usuario.value)" [attr.disabled]="f.usuario.errors ? true : null" *ngIf="!continuar" class="btn btn-primary btn-lg color">
					Continuar
				</a>
			</div>

			<div class="form-group" *ngIf="continuar">
				<label class="text-secondary">Pregunta secreta</label>
				<input type="text"
					class="form-control"
					formControlName="pregunta_secreta"
					readonly="">
			</div>

			<div class="form-group" *ngIf="continuar">
				<label class="text-secondary">Respuesta secreta</label>
				<input type="text"
					class="form-control"
					placeholder="Ingrese la respuesta..." 
					formControlName="respuesta_secreta"
					[ngClass]="{ 'is-invalid': f.respuesta_secreta.errors && submitted }"
					[disabled]="f.usuario.errors">

				<div class="invalid-feedback" *ngIf="f.respuesta_secreta.errors && submitted">
	                <div *ngIf="f.respuesta_secreta.errors.required">{{ input_required }}</div>
	                <div *ngIf="f.respuesta_secreta.errors.maxLength">Superaste el máximo</div>
	            </div>
			</div>

			<div class="form-group text-right" *ngIf="continuar">
				<button class="btn btn-lg btn-primary" *ngIf="continuar">
					Recuperar
				</button>
			</div>
		</div>
	</div>
</div>
</form>
