<div class="card">
	<div class="card-header">
		<h4 class="text-center">Comparación de las transcripciones asignadas</h4>
	</div>
	
	<div class="card-body">
		<div class="alert bg-light col-6">
			<h5>
			  	<span class="text-secondary">
			  		Realizadas:
			  	</span>
			  	<span class="text-secondary">
			  		9
			  	</span>
		  	</h5> 
		  	<h5>
		  		<span class="text-secondary">
					No Realizadas: 
				</span>
				<span class="text-secondary">
					1
				</span>
			</h5>
		</div>
		<canvas id="transcripcionesMedicion"></canvas>
	</div>
</div>
