<div *ngIf="usuario">
	<div class="row">
		<div class="col-lg-12">
			<span class="text-secondary h4"><i class="fas fa-home"></i> Inicio</span>
			<hr id="linea">
		</div>
	</div>

	<div class="row mt-3" *ngIf="usuario.rol_id == 1">
	  <div class="col-lg-12">
	  	<app-indicadores></app-indicadores>
	  </div>
	</div>

	<div class="row mt-3" *ngIf="usuario.rol_id == 1">
		<div class="col-6">
			<app-ventas-semana></app-ventas-semana> 
		</div>
		<div class="col-6">
			<app-fotocopias-semana></app-fotocopias-semana>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="text-center">Mis transcripciones pendientes</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="input-group mb-3" *ngIf="cont_pend > 0 && tpendientes.length > 0">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-search"></i></span>
								</div>
								<input type="text" [(ngModel)]="busqueda" class="form-control" placeholder="Buscar...">
							</div>
						</div>
					</div>

					<table class="table table table-hover" *ngIf="cont_pend > 0 && tpendientes.length > 0">
						<thead class="text-center bg-secondary text-white">
							<tr>
								<th>Fecha de Entrega</th>
								<th>Restante</th>
								<th>Cliente</th>
								<th>Categoría</th>
								<th>Titulo</th>
								<th>Estatus Tarea</th>
							</tr>
						</thead>
						<tbody class="text-center">
							<tr *ngFor="let dato of tpendientes | filtro: { fecha_entrega: busqueda, clienteAtendido: busqueda, tipoTranscripcion: busqueda,  titulo: busqueda } | paginate: { itemsPerPage: 10, currentPage: p }" id="pointer" [routerLink]="['/transcripciones/actualizar', dato.id]" data-toggle="tooltip" title="actualizar">
								<ng-container *ngIf=" dato.estatus_tarea == 0 || dato.estatus_entrega == 0">
									<td class="align-middle">{{ dato.fecha_entrega }}</td>
									<td class="align-middle"> 
										<label class="h5">
											<span class="badge badge-pill badge-danger"> {{ dato.dias }}  {{ dato.dias == 1 ? 'dia' : 'días'}}</span>
										</label>
									</td>
									<td class="align-middle">{{ dato.clienteAtendido }}</td>
									<td class="align-middle"> {{ dato.tipoTranscripcion }} </td>
									<td class="align-middle">{{ dato.titulo }} </td>
									<td class="align-middle">
										<i [ngClass]="dato.estatus_tarea == 0 ? 'fas fa-times text-danger' : 'fas fa-check text-success'" [title]="dato.estatus_tarea == 0 ? 'No realizada' : 'Realizada'"></i>
									</td>
								</ng-container>
							</tr>
						</tbody>
					</table>
					<pagination-controls class="text-right" (pageChange)="p = $event" *ngIf="tpendientes.length > 0"></pagination-controls>
					<div class="alert alert-secondary text-center" *ngIf="tpendientes.length == 0 || cont_pend == 0">
						<span class="h5"><i class="fas fa-info-circle"></i> No se ha encontrado resultados</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>