<table  class="table table-hover">
	<thead class="bg-secondary text-white text-center">
		<tr>
			<th>#</th>
			<th>Descripción</th>
			<th>Cantidad</th>
			<th>Precio C.</th>
			<th>Subtotal</th>
		</tr>
	</thead>
	<tbody class="text-center">
		<tr *ngFor="let pedido of pedidos | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
			<td>{{ i+1 }}</td>
			<td>{{ pedido.producto.nombre }}</td>
			<td>{{ pedido.cantidad_compra }}</td>
			<td>Bs. {{ pedido.precio_compra | separador }}</td>
			<td>Bs. {{ pedido.subtotal | separador }} </td>
		</tr>
	</tbody>
</table>
<pagination-controls class="text-right" (pageChange)="p = $event"></pagination-controls>