<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-edit"></i> Editar Producto</span>
		<ol class="breadcrumb" style="float: right;">
	  		<li class="breadcrumb-item">
	    		<a routerLink="/inicio">
	    			<i class="fas fa-home"></i>
	    		</a>
	  		</li>
	  		<li class="breadcrumb-item">
	  			<a routerLink="/inventario">
	  				Inventario
	  			</a>
	  		</li>

	  		<li class="breadcrumb-item active">
		  		Edición
		  	</li>
		</ol>
		<hr id="linea">
	</div>
</div>

<div class="row">
	<div class="col-lg-12 mb-3">
		<h5 class="bg-light text-center p-2">Formulario</h5>
	</div>
</div>
     
<form [formGroup]="formProducto" (ngSubmit)="actualizarProducto()" *ngIf="producto">              
	<div class="row">
	    <div class="col-6">
	        <div class="form-group">
	            <label class="text-secondary">Nombre</label>
	            <input type="text" 
	                formControlName="nombre"
	                class="form-control" 
	                placeholder="Ingresa el nombre del producto"
	                [ngClass]="{ 'is-invalid': f.nombre.errors && submitted }">

	            <div class="invalid-feedback" *ngIf="f.nombre.errors && submitted">
	                <div *ngIf="f.nombre.errors.required">{{ input_required }}</div>
	            </div>
	        </div>
	    </div>

	    <div class="col-6">
	        <div class="form-group">
	            <label class="text-secondary">Categoria</label>
	            <select class="form-control" 
	      			formControlName="categoriasProductoId"
	                class="form-control"
	                [ngClass]="{ 'is-invalid': f.categoriasProductoId.errors && submitted }">
	                <option value="">Seleccione...</option>
	                <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
	            </select>

	            <div class="invalid-feedback" *ngIf="f.categoriasProductoId.errors && submitted">
	                <div *ngIf="f.categoriasProductoId.errors.required">Debe seleccionar una opción</div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="row">
	    <div class="col-6">
	        <div class="form-group">
	            <label class="text-secondary">Precio Venta</label>
	            <input type="number" 
	                formControlName="precio_venta"
	                class="form-control" 
	                placeholder="Ingresa el precio de venta"
	                [ngClass]="{ 'is-invalid': f.precio_venta.errors && submitted }"
	                [readonly]="producto.stock == 0">

	            <div class="invalid-feedback" *ngIf="f.precio_venta.errors && submitted">
	                <div *ngIf="f.precio_venta.errors.required">Este campo es requerido y solo acepta números</div>
	            </div>
	        </div>
	    </div>
	    
	    <div class="col-6">
	        <div class="form-group">
	            <label class="text-secondary">Disponible</label>
	            <input type="text" 
	                class="form-control" 
	                placeholder="Cantidad disponible"
	                readonly
	                [value]="producto.stock">
	        </div>
	    </div>
	</div>

	<div class="row">
	    <div class="col-12">
            <label class="text-secondary">Estado</label><br>
          	<div class="form-check-inline">
				<label class="form-check-label">
			  		<input type="radio" class="form-check-input" formControlName="estado" [value]="1"> Activo
			  	</label>
			</div>

			<div class="form-check-inline">
				<label class="form-check-label">
			    	<input type="radio" class="form-check-input" formControlName="estado" [value]="2"> Inactivo
			  	</label>
			</div>
            
            <div *ngIf="f.estado.errors && submitted">
                <small class="text-danger" *ngIf="f.estado.errors.required">Debe seleccionar una opción</small>
            </div>
	    </div>
	    <div class="col-lg-12">
	    	<br>
	    	<div class="form-group text-right">
	    		<button type="submit" class="btn btn-primary btn-lg">
	    			<i class="fas fa-sync"></i> Actualizar
	    		</button>
	    	</div>
	    </div>
	</div>
</form>