<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-people-carry"></i> Nuevo Ingreso</span>
		<ol class="breadcrumb" style="float:right;">
			<li class="breadcrumb-item">
				<a routerLink="/inicio">
					<i class="fas fa-home"></i>
				</a>
			</li>
			
			<li class="breadcrumb-item">
				<a routerLink="/compras">
					Compras
				</a>
			</li>

			<li class="breadcrumb-item active">Nuevo</li>
		</ol>
		<hr id="linea">
	</div>
</div>

<form [formGroup]="formCompra" (ngSubmit)="enviarDatosCompra()">
	<div class="row">
		<div class="col-lg-12 mb-3">
			<a href="#!" class="btn btn-primary float-left" data-toggle="modal" data-target="#nuevoProveedor">
				<i class="fas fa-plus"></i>
			</a>
			<a id="pointer" class="btn btn-link text-secondary ml-1 float-left" (click)="ultimoProveedor()">
				<i class="fas fa-sync"></i>
			</a>
			<h5 class="bg-light text-center p-2"><i class="fas fa-store"></i> Proveedor</h5>
		</div>

		<div class="col-4">
			<div class="form-group">
				<label class="ml-2 text-secondary">Razon Social</label>
				<ng-select formControlName="proveedor_id"
				    placeholder="Filtrar proveedor..."
				    class="custom"
				    [dropdownPosition]="'bottom'"
				    (change)="obtenerProveedor(f.proveedor_id.value)">
						<ng-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">{{ proveedor.razon_social }}</ng-option>
				</ng-select>

				<div *ngIf="f.proveedor_id.errors && submitted">
					<div class="text-danger" *ngIf="f.proveedor_id.errors.required">Debes seleccionar una opción</div>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="form-group">
				<label class="text-secondary">Contacto</label>
				<input type="text" 
					formControlName="proveedor_contacto"
					class="form-control"  
					readonly>
			</div>
		</div>

		<div class="col-4">
			<div class="form-group">
				<label class="text-secondary">Teléfono</label>
				<input type="text"
					formControlName="proveedor_telefono" 
					class="form-control" 
					readonly>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h5 class="bg-light text-center p-2">
				<i class="fas fa-shopping-basket"></i> Productos Adquiridos
			</h5>
			<div class="row mb-3">
				<div class="col-lg-4">
					<div class="input-group" *ngIf="compras.length > 5">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-search"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Buscar producto...">
					</div>
				</div>

				<div class="col-lg-8 float-right">
					<a href="#!" class="btn btn-primary float-right" 
						data-toggle="modal" 
						data-target="#agregarProductoCompra" 
						[attr.disabled]="f.proveedor_id.errors ? true : null">
						<i class="fas fa-plus"></i>
					</a>
				</div>
			</div>

			<app-compra (cerrarVentana)="obtenerMontos()"></app-compra>

			<app-productos-compra (actualizarMontos)="obtenerMontos()"></app-productos-compra>
		</div>
	</div>

	<div class="row" *ngIf="nomostrar">
		<div class="col-lg-12">
			<div class="alert alert-dark text-center">
				<span class="h4"><i class="fas fa-info-circle"></i> No se han agregado registros</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="row justify-content-end">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body bg-light text-dark">
							<div class="row">
								<div class="col-5">
									<span class="h5">Subtotal:</span>
								</div>
								<div class="col-7">
									<span class="h5">Bs. {{ subtotalCompra | separador }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-5">
									<span class="h5">IVA(19%):</span>
								</div>
								<div class="col-7">
									<span class="h5">Bs. {{ subtotalIVA | separador }}</span>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-5">
									<span class="h4">Total</span>
								</div>
								<div class="col-7">
									<span class="h4">Bs. {{ totalCompra | separador }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-lg-12 text-right">
			<a href="#!" class="btn btn-secondary btn-lg mr-2">Cancelar</a>
			<button type="submit" class="btn btn-primary btn-lg">Confirmar</button>
		</div>
	</div>
</form>

<app-producto-compra></app-producto-compra>
<app-nuevo-proveedor (actualizarProveedores)="listarProveedores()"></app-nuevo-proveedor>