<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-secondary bg-light o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon text-success">
                	<i class="fas fa-fw fa-users"></i>
                </div>
                <div class="mr-5">
                	<span class="h5 text-success">Clientes<br>
                		<span class="h4 text-danger">{{ clientes.length }}</span>
                	</span>
                </div>
            </div>
        	<a class="card-footer text-secondary clearfix small z-1" routerLink="/clientes">
            	<span class="float-left h6">Ver</span>
            	<span class="float-right h6">
              		<i class="fas fa-angle-right"></i>
            	</span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-secondary bg-light o-hidden h-100">
            <div class="card-body">
            	<div class="card-body-icon text-success">
                	<i class="fas fa-fw fa-book"></i>
                </div>
                <div class="mr-5">
                	<span class="h5 text-success">Productos<br>
                		<span class="h4 text-danger">{{ productos.length }}</span>
                	</span>
                </div>
            </div>
            <a class="card-footer text-secondary clearfix small z-1" routerLink="/inventario">
            	<span class="float-left h6">Ver</span>
                <span class="float-right h6">
                	<i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-secondary bg-light o-hidden h-100">
        	<div class="card-body">
            	<div class="card-body-icon text-success">
              		<i class="fas fa-fw fa-store"></i>
            	</div>
            	<div class="mr-4">
            		<span class="h5 text-success">Proveedores<br>
            			<span class="h4 text-danger">{{ proveedores.length }}</span>
            		</span>
            	</div>
            </div>
          	<a class="card-footer text-secondary clearfix small z-1" routerLink="/proveedores">
           		<span class="float-left h6">Ver</span>
            	<span class="float-right h6">
              		<i class="fas fa-angle-right"></i>
            	</span>
          	</a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-secondary bg-light o-hidden h-100">
            <div class="card-body">
            	<div class="card-body-icon text-success">
                	<i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-4">
                	<span class="h5 text-success">Ventas</span><br>
                	<span class="h4 text-danger">Bs. {{ totalVenta | separador }} </span>
                </div>
            </div>
            <a class="card-footer text-secondary clearfix small z-1" routerLink="/ventas/nueva">
                <span class="float-left h6">Nueva</span>
                <span class="float-right h6">
                	<i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>