<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-history"></i> Histórico</span>
		<ol class="breadcrumb" style="float: right;">
	  		<li class="breadcrumb-item">
	    		<a routerLink="/inicio"><i class="fas fa-home"></i></a>
	  		</li>
	  		<li class="breadcrumb-item">
				<a routerLink="/clientes">Clientes</a>
	  		</li>
	  		<li class="breadcrumb-item active">Histórico</li>
		</ol>
		<hr id="linea">
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body text-center bg-light">
				<h5 class="text-success"> 
					Cliente:
				</h5>
				         
				<h5 class="text-secondary" *ngIf="cliente">
					{{ cliente.cedula }} - {{ cliente.nombres }} {{ cliente.apellidos }}
				</h5>
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body text-center bg-light">
				<h5 class="text-success">
					N° de Atenciones: 
				</h5>

				<h5 class="text-secondary" *ngIf="ventas">
					{{ ventas?.length }}
				</h5>
			</div>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-6 offset-md-3">
		<div class="card">
			<div class="card-header">
				<h4 class="text-center">Atenciones</h4>
			</div>
			<div class="card-body">
				<table class="table table-hover">
				    <thead class="text-center">
						<tr class="bg-secondary text-white">
							<th>#</th>
							<th>Fecha</th>
							<th>Monto</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr *ngFor="let venta of ventas | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
							<td>{{ i+1 }}</td>
							<td>{{ venta.created_at }}</td>
							<td>Bs. {{ venta.total | separador }}</td>
							<td>
								<a [routerLink]="['/ventas/detalles', venta.id]" class="btn btn-secondary btn-sm">
									<i class="fas fa-eye"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<pagination-controls class="text-right" (pageChange)="p = $event"></pagination-controls>
			</div>
		</div>
	</div>
</div>