<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-eye"></i> Detalles del Proveedor</span>
		<ol class="breadcrumb" style="float: right;">
	  		<li class="breadcrumb-item">
	    		<a routerLink="/inicio">
	    			<i class="fas fa-home"></i>
	    		</a>
	  		</li>
	  		<li class="breadcrumb-item">
	  			<a routerLink="/proveedores">
	  				Proveedores
	  			</a>
	  		</li>

	  		<li class="breadcrumb-item active">
		  		Detalles
		  	</li>
		</ol>
		<hr id="linea">
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-8 offset-lg-2">
		<table class="table table-hover" *ngIf="proveedor">
			<tr>
				<th width="50%">Razón Social</th>
				<td>{{ proveedor.razon_social }}</td>
			</tr>

			<tr>
				<th width="50%">Contacto</th>
				<td>{{ proveedor.contacto }}</td>
			</tr>

			<tr>
				<th width="50%">Teléfono</th>
				<td>{{ proveedor.telefono }}</td>
			</tr>

			<tr>
				<th width="50%">Correo Electrónico</th>
				<td>{{ proveedor.correo }}</td>
			</tr>

			<tr>
				<th width="50%">Dirección</th>
				<td>{{ proveedor.direccion }}</td>
			</tr>

			<tr>
				<th width="50%">Estatus</th>
				<td>{{ proveedor.estatus == 1 ? 'Activo' : 'Inactivo' }}</td>
			</tr>
		</table>
	</div>
</div>
