<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-eye"></i> Detalles Venta</span>
		<ol class="breadcrumb" style="float: right;">
			<li class="breadcrumb-item">
				<a routerLink="/inicio">
					<i class="fas fa-home"></i>
				</a>
			</li>
			
			<li class="breadcrumb-item">
				<a routerLink="/ventas">
					Ventas
				</a>
			</li>

			<li class="breadcrumb-item active">Detalles</li>
		</ol>
		<hr id="linea">
	</div>
</div>

<app-precarga *ngIf="loader"></app-precarga>
<div class="row" *ngIf="!loader">
	<div class="col-lg-12">
		<div class="list-group list-group-flush" *ngIf="venta">
			<div class="list-group-item">
				<div class="row">
					<div class="col-lg-6">
						<b>Fecha:</b>
						{{ venta.created_at | date: 'dd-MM-yy hh:mm a' }}
					</div>
					<div class="col-lg-6">
						<b>Realizada por:</b>
						{{ venta.usuario.usuario }}
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<div class="col-lg-6">
						<b>Cliente:</b>
						{{ venta.cliente.cedula }} - {{ venta.cliente.nombres }} {{ venta.cliente.apellidos }}
					</div>
					<div class="col-lg-6">
						<b>Total:</b>
						Bs. {{ venta.total | separador }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row mt-5" *ngIf="productos?.length > 0">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5 class="text-center">Producto(s)</h5>
			</div>
			<div class="card-body">
				<app-productos-detalles></app-productos-detalles>
			</div>
		</div>
	</div>
</div>

<div class="row mt-5" *ngIf="copias?.length > 0">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5 class="text-center">Copia(s)</h5>
			</div>
			<div class="card-body">
				<app-copias-detalles></app-copias-detalles>
			</div>
		</div>
	</div>
</div>

<div class="row mt-5" *ngIf="tareas?.length > 0">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5 class="text-center">Tarea(s)</h5>
			</div>
			<div class="card-body">
				<app-tareas-detalles></app-tareas-detalles>
			</div>
		</div>
	</div>
</div>
