<div class="row">
	<div class="col-lg-12">
		<div class="text-center">
			<button onclick="window.print()" class="btn btn-secondary" id="boton"><i class="fas fa-print"></i></button>
		</div><br>

		<div class="my-3">
			<img src="../../assets/imagenes/printer.png" height="45px" width="45px" align="middle"> 
			<span class="h4 ml-1" id="teal">Libreria y Fotocopiado</span> <span class="h3 ml-1" id="teal">Marlenis C.A.</span>
		</div><br>
		
		<div>
			<h4 class="text-center">Fotocopias</h4>
			<h5 class="text-center">
				Desde: <i>{{ desde | date: 'dd-MM-yyyy' }}</i>
				Hasta: <i>{{ hasta | date: 'dd-MM-yyyy' }}</i>
			</h5>
		</div>


		<div class="row mt-3" *ngIf="copias.length > 0">
			<div class="col-lg-12">
				<table class="table">
					<tr class="text-center">
						<td>
							<span class="h5"><b>T. Copias</b><br>  {{ totalCopias }}</span>
						</td>
						<td>
							<span class="h5"><b>T. Copias exitosas</b><br> {{totalCopiasExitosas}}</span>
						</td>
						<td>
							<span class="h5"><b>T. Copias dañadas</b><br> {{totalCopiasDanadas}}</span>
						</td>
						<td>
							<span class="h5"><b>Total:</b><br>  Bs. {{ totalMonto | separador }}</span>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<table class="table" *ngIf="copias.length > 0">
			<thead class="text-center">
				<tr>
					<th>Tipo</th>
					<th>Cantidad</th>
					<th>Precio</th>
					<th>Subtotal</th>
				</tr>
			</thead>
			<tbody class="text-center">
                <tr *ngFor="let copia of copias">
					<td>{{ copia.tipos_copia.descripcion }}</td>
					<td>{{ copia.cantidadCopias }}</td>
					<td>Bs. {{ copia.tipos_copia.precio | separador }}</td>
					<td>Bs. {{ copia.montoCopias | separador }}</td>
				</tr>
			</tbody>
		</table>

		<div class="alert alert-secondary" *ngIf="copias.length == 0">
			<i class="fas fa-info-circle"></i>  No se han encontrado registros
		</div>
	</div>
</div>


