<form [formGroup]="formUsuario" (ngSubmit)="guardarUsuario()">
<div class="modal" tabindex="-1" role="dialog" id="nuevoEmpleado">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white">
                <h5 class="modal-title">Nuevo Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="text-secondary">Nacionalidad</label>
                            <select class="form-control" 
                                formControlName="nacionalidad"
                                [ngClass]="{ 'is-invalid': f.nacionalidad.errors && submitted }">
                                <option value="" disabled>Seleccione...</option>
                                <option value="V" selected>Venezolano</option>
                                <option value="E">Extranero</option>
                            </select>

                            <div class="invalid-feedback" *ngIf="f.nacionalidad.errors && submitted">
                                <div *ngIf="f.nacionalidad.errors.required">Debes seleccionar una opción</div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-6">
                        <div class="form-group">
                            <label class="text-secondary">N° Cédula</label>
                            <input type="number" 
                                formControlName="nCedula" 
                                class="form-control" 
                                placeholder="Ingresa el número de cédula"
                                [ngClass]="{ 'is-invalid': f.nCedula.errors && submitted }">
                            
                            <div class="invalid-feedback" *ngIf="f.nCedula.errors && submitted">
                                <div *ngIf="f.nCedula.errors.required">Este campo es requerido y solo acepta números</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="text-secondary">Nombres</label>
                            <input type="text" 
                                formControlName="nombres" 
                                class="form-control" 
                                placeholder="Ingresa el nombre"
                                [ngClass]="{ 'is-invalid': f.nombres.errors && submitted }">
                            
                            <div class="invalid-feedback" *ngIf="f.nombres.errors && submitted">
                                <div *ngIf="f.nombres.errors.required">{{ input_required }}</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="form-group">
                            <label class="text-secondary">Apellidos</label>
                            <input type="text" 
                                formControlName="apellidos" 
                                class="form-control" 
                                placeholder="Ingresa el apellido"
                                [ngClass]="{ 'is-invalid': f.apellidos.errors && submitted }">
                            
                            <div class="invalid-feedback" *ngIf="f.apellidos.errors && (f.apellidos.dirty || f.apellidos.touched)">
                                <div *ngIf="f.apellidos.errors.required">{{ input_required }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="text-secondary">Dirección de Habitación</label>
                            <input type="text" 
                                formControlName="direccion" 
                                class="form-control" 
                                placeholder="Ingresa la dirección"
                                [ngClass]="{ 'is-invalid': f.direccion.errors && submitted }">
                            
                            <div class="invalid-feedback" *ngIf="f.direccion.errors && submitted">
                                <div *ngIf="f.direccion.errors.required">{{ input_required }}</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="form-group">
                            <label class="text-secondary">Teléfono</label>
                            <input type="text" 
                                formControlName="telefono" 
                                class="form-control" 
                                placeholder="Ingresa el número telefónico"
                                [ngClass]="{ 'is-invalid': f.telefono.errors && submitted }">
                            
                            <div class="invalid-feedback" *ngIf="f.telefono.errors && submitted">
                                <div *ngIf="f.telefono.errors.required">{{ input_required }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                	<div class="col-lg-6">
                		<div class="form-group">
	                		<label class="text-secondary">Correo electrónico</label>
	                		<input type="text" 
                                formControlName="correo" 
                                class="form-control" 
                                placeholder="Ingresa el correo electrónico"
                                [ngClass]="{ 'is-invalid': f.correo.errors && submitted }">
                		
                            <div class="invalid-feedback" *ngIf="f.correo.errors && submitted">
                                <div *ngIf="f.correo.errors.required">{{ input_required }}</div>
                                <div *ngIf="f.correo.errors.email">"El correo electrónico no es válido</div>
                            </div>
                        </div>
                	</div>

                	<div class="col-lg-6">
                		<div class="form-group">
	                		<label class="text-secondary">Nombre de Usuario</label>
	                		<input type="text" 
                                formControlName="usuario" 
                                class="form-control" 
                                placeholder="Ingresa el nombre de usuario"
                                [ngClass]="{ 'is-invalid': f.usuario.errors && submitted }">
                		    
                            <div class="invalid-feedback" *ngIf="f.usuario.errors && submitted">
                                <div *ngIf="f.usuario.errors.required">{{ input_required }}</div>
                                <div *ngIf="f.usuario.errors.minlength">El usuario debe de contener por lo menos 6 caracteres</div>
                            </div>
                        </div>
                	</div>
                </div>

                <div class="row">
                	<div class="col-lg-6">
                		<div class="form-group">
                			<label class="text-secondary">Contraseña</label>
                			<input type="password" 
                                formControlName="clave" 
                                class="form-control" 
                                placeholder="Ingresa la contraseña"
                                [ngClass]="{ 'is-invalid': f.clave.errors && submitted }">
                		  
                            <div class="invalid-feedback" *ngIf="f.clave.errors && submitted">
                                <div *ngIf="f.clave.errors.required">{{ input_required }}</div>
                                <div *ngIf="f.clave.errors.minlength"> La contraseña debe contener por lo menos 4 caracteres</div>
                            </div>
                	    </div>
                    </div>

                	<div class="col-lg-6">
                		<div class="form-group">
                			<label class="text-secondary">Confirmar contraseña</label>
                			<input type="password" 
                                formControlName="conf_clave" 
                                class="form-control" 
                                placeholder="Confirma la contraseña ingresada"
                                [ngClass]="{ 'is-invalid': f.conf_clave.errors && submitted }">
                		    
                            <div class="invalid-feedback" *ngIf="f.conf_clave.errors && submitted">
                                <div *ngIf="f.conf_clave.errors.required">{{ input_required }}</div>
                                <div *ngIf="f.conf_clave.errors.coincidencia"> Las contraseñas ingresadas no coinciden</div>
                            </div>
                        </div>
                	</div>
                </div>
            </div>

            <div class="modal-footer">
                <a href="#!" id="pointer" type="button" #cerrarModal class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
                <button type="submit" [disabled]="formUsuario.invalid" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
</form>
