<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-file-pdf"></i> Reportes</span>
		<ol class="breadcrumb" style="float: right;">
	  		<li class="breadcrumb-item">
	    		<a routerLink="/inicio">
	    			<i class="fas fa-home"></i>
	    		</a>
	  		</li>
	  		<li class="breadcrumb-item active">
	  			Reportes
	  		</li>
		</ol>
		<hr id="linea">
	</div>
</div>
<form [formGroup]="formReporte" (ngSubmit)="verReporte()">
<div class="row">
	<div class="col-lg-8 offset-lg-2">
		<div class="form-group">
			<label class="text-secondary">Seleccione consulta a realizar</label>
			<select class="form-control" 
				formControlName="tipo"
				[ngClass]="{ 'is-invalid': f.tipo.errors && (f.tipo.dirty || f.tipo.touched) }"
				(change)="obtenerTipo(f.tipo.value)">
				<option value="">Seleccione...</option>
				<option value="1">Ventas</option>
				<option value="2">Compras</option>
				<option value="3">Copias</option>
				<option value="4">Inventario</option>
			</select>

			<div class="invalid-feedback" *ngIf="f.tipo.errors  && (f.tipo.dirty || f.tipo.touched)">
				<div *ngIf="f.tipo.errors.required">Debe seleccionar una opción</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<label class="text-secondary">Desde:</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-calendar"></i>
						</span>
					</div>
					<input type="date" 
						class="form-control" 
						formControlName="desde"
						[ngClass]="{ 'is-invalid': f.desde.errors && (f.desde.dirty || f.desde.touched) }"
						[max]="hoy"
						[attr.disabled]="f.tipo.value == 4 ? true : null">

					<div class="invalid-feedback" *ngIf="f.desde.errors && (f.desde.dirty || f.desde.touched)">
						<div *ngIf="f.desde.errors.required">{{ input_required }}</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<label class="text-secondary">Hasta:</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-calendar"></i>
						</span>
					</div>
					<input type="date" 
						class="form-control" 
						formControlName="hasta"
						[ngClass]="{ 'is-invalid': f.hasta.errors && (f.hasta.dirty || f.hasta.touched)  }" 
						[max]="hoy" 
						[min]="f.desde.value"
						[attr.disabled]="f.tipo.value == 4 ? true : null">

					<div class="invalid-feedback" *ngIf="f.hasta.errors && (f.hasta.dirty || f.hasta.touched)">
						<div *ngIf="f.hasta.errors.required">{{ input_required }}</div>
					</div>
				</div>
			</div>
		</div>
	    <hr> 

		<div class="form-group text-right">
			<button class="btn btn-primary btn-lg" [disabled]="formReporte.invalid">
				Ver 
			</button>
		</div>
	</div>
</div>
</form>