<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-eye"></i> Detalles Compra</span>
		<ol class="breadcrumb" style="float: right;">
			<li class="breadcrumb-item">
				<a routerLink="/inicio">
					<i class="fas fa-home"></i>
				</a>
			</li>
			
			<li class="breadcrumb-item">
				<a routerLink="/compras">
					Compras
				</a>
			</li>

			<li class="breadcrumb-item active">Detalles</li>
		</ol>
		<hr id="linea">
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-12">
		<div class="list-group list-group-flush" *ngIf="compra">
			<div class="list-group-item list-group-item-success">
				<div class="row">
					<div class="col-lg-4 text-center">
						<b>Fecha:</b>
						{{ compra.created_at | date: 'dd-MM-yy hh:mm a' }}
					</div>
					<div class="col-lg-4 text-center">
						<b>Proveedor:</b>
						{{ compra.proveedore?.razon_social }}
					</div>
					<div class="col-lg-4 text-center">
						<b>Total:</b>
						Bs. {{ compra.total | separador }} 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5 class="text-center">Producto(s)</h5>
			</div>
			<div class="card-body">
				<app-productos-compra-detalles></app-productos-compra-detalles>
			</div>
		</div>
	</div>
</div>