<div class="row">
	<div class="col-6 offset-3">
		<div class="card p-5" id="carta">
			<div class="card-header bg-none">
				<h3 class="text-success text-center">Libreria y Fotocopiado</h3>  
		    	 <h1 class="text-danger text-center" id="margen-titulo">
		    	 	Marlenis C.A. <i class="fas fa-desktop"></i>
		    	 </h1>    
			</div>
			<div class="card-body">
				<form [formGroup]="login" (ngSubmit)="onSubmit()" novalidate>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text text-white bg-dark" id="border-none"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" formControlName="usuario" class="form-control" placeholder="Usuario"  [ngClass]="{ 'is-invalid': f.usuario.errors && (f.usuario.dirty || f.usuario.touched) }">
						
							<div class="invalid-feedback" *ngIf="f.usuario.errors && (f.usuario.dirty || f.usuario.touched)">
								<div *ngIf="f.usuario.errors.required">{{ input_required }}</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text text-white bg-dark" id="border-none"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" formControlName="clave" class="form-control" placeholder="Contraseña" [ngClass]="{ 'is-invalid': f.clave.errors && (f.clave.dirty || f.clave.touched) }">
							
							<div class="invalid-feedback" *ngIf="f.clave.errors && (f.clave.dirty || f.clave.touched)">
								<div *ngIf="f.clave.errors.required">{{ input_required }}</div>
							</div>
						</div>
					</div>
					<hr> 

					<div *ngIf="error" class="text-danger my-2">{{ error }}</div>

					<button [disabled]="login.invalid" class="btn btn-primary btn-block mb-3">
						Ingresar <i class="fas fa-sign-in-alt"></i> 
					</button>
					
					<div class="text-center">
						<a routerLink="/recuperar-clave" class="btn btn-link text-danger">¿Olvidó su contraseña?</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>