<div class="card">
  <div class="card-header">
  	<h4 class="text-center">Comparación de las transcripciones cumplidas antes de la fecha de entrega</h4>
  </div>

  <div class="card-body">
  	<div class="alert bg-light col-6">
		<h5>
		  	<span class="text-secondary">
		  		Cumplidas:
		  	</span>
		  	<span class="text-secondary">
		  		5
		  	</span>
	  	</h5> 
	  	<h5>
	  		<span class="text-secondary">
				No Cumplidas: 
			</span>
			<span class="text-secondary">
				4
			</span>
		</h5>
	</div>
  	<canvas id="transcripcionesEficiencia"></canvas>
  </div>
</div>