<table class="table table-hover" *ngIf="copias?.length > 0">
	<thead class="bg-secondary text-white text-center">
		<tr>
			<th>#</th>
			<th>Tipo</th>
			<th>Cantidad</th>
			<th>Precio U.</th>
			<th>Subtotal</th>
		</tr>
	</thead>
	<tbody class="text-center">
		<tr *ngFor="let copia of copias | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
			<td> {{ i+1 }}</td>
			<td> {{ copia.tipos_copia.descripcion }}</td>
			<td>{{ copia.cantidad }}</td>
			<td>Bs. {{ copia.precioUnitario | separador }}</td>
			<td>Bs. {{ copia.subtotal | separador }}</td>
		</tr>
	</tbody>
</table>
<pagination-controls class="text-right" (pageChange)="p = $event"></pagination-controls>