<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-shopping-cart"></i> Nueva Venta</span>
		<ol class="breadcrumb" style="float: right;">
			<li class="breadcrumb-item">
				<a routerLink="/inicio">
					<i class="fas fa-home"></i>
				</a>
			</li>
			
			<li class="breadcrumb-item">
				<a routerLink="/ventas">
					Ventas
				</a>
			</li>

			<li class="breadcrumb-item active">Nueva</li>
		</ol>
		<hr id="linea">
	</div>
</div>

<form [formGroup]="formCliente" (ngSubmit)="guardarDatosVenta()" novalidate>
	<div class="row">
		<div class="col-lg-12 mb-3">
			<a href="#!" class="btn btn-primary float-left" data-toggle="modal" data-target="#nuevoCliente">
				<i class="fas fa-plus"></i>
			</a>
			
			<a id="pointer" class="btn btn-secondary float-left ml-1" (click)="obtenerUltimoCliente()">
				<i class="fas fa-sync"></i>
			</a>

			<h5 class="bg-light text-center p-2"><i class="fas fa-user"></i> Cliente</h5>
		</div>

		<div class="col-4">
			<div class="form-group"> 
				<label class="ml-2 text-secondary">Cédula de Identidad</label>
				<ng-select formControlName="cliente"
				    placeholder="Filtrar cedula..."
				    class="custom"
				    [dropdownPosition]="'bottom'"
				    (change)="obtenerDatos(f.cliente.value)">
						<ng-option *ngFor="let cliente of clientes; index as i" [value]="cliente.id">{{ cliente.cedula}}</ng-option>
				</ng-select>

				<div *ngIf="f.cliente.errors && submitted">
					<small class="text-danger" *ngIf="f.cliente.errors.required">Debes seleccionar un cliente</small>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="form-group">
				<label class="text-secondary">Nombre</label>
				<input type="text" formControlName="nombre" class="form-control" readonly>
			</div>
		</div>

		<div class="col-4">
			<div class="form-group">
				<label class="text-secondary">Apellido</label>
				<input type="text" formControlName="apellido" class="form-control" readonly>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h5 class="bg-light text-center p-2"><i class="fas fa-check-square"></i> Seleccionar Item(s)</h5>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="productos" (change)="activarFormProductos()" [disabled]="f.cliente.errors || productos.length > 0">
				<label class="form-check-label" for="productos">Productos</label>
			</div>

			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="copias" (change)="activarFormCopias()" [disabled]="copias.length > 0">
				<label class="form-check-label" for="copias">Copias</label>
			</div>

			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="transcripciones" (change)="activarFormTranscripciones()" [disabled]="f.cliente.errors || transcripciones.length > 0">
				<label class="form-check-label" for="transcripciones">Tareas</label>
			</div>
		</div>
	</div>

	<div class="row my-3">
		<div class="col-lg-12">
			<div class="accordion" id="accordionExample">
				<div class="card" *ngIf="formProductos">
					<div class="card-header" id="headingOne">
				  		<h2 class="mb-0 text-center">
							<button class="btn btn-link text-success" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					  			<span class="h5"><i class="fas fa-shopping-basket"></i> Productos</span>
							</button>
				  		</h2>
					</div>
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
					  	<div class="card-body">
							<app-productos-venta (actualizarMontos)="obtenerMontoVenta()"></app-productos-venta>
					  	</div>
					</div>
	  			</div>

			    <div class="card" *ngIf="formCopias">
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0 text-center">
							<button class="btn btn-link collapsed text-success" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="h5"><i class="fas fa-copy"></i> Copias</span>
							</button>
					  	</h2>
					</div>
					<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
		  				<div class="card-body">
							<app-copias-venta (actualizarMontos)="obtenerMontoVenta()" (enviarCopiasDanadas)="obtenerCopiasDanadas($event)"></app-copias-venta>  	
		  				</div>
					</div>
	  			</div>

			  	<div class="card" *ngIf="formTranscripciones">
					<div class="card-header" id="headingThree">
						<h2 class="mb-0 text-center">
							<button class="btn btn-link collapsed text-success" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					  			<span class="h5"><i class="fas fa-file-alt"></i> Tareas</span>
							</button>
				  		</h2>
					</div>
					<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
		  				<div class="card-body">
							<app-transcripciones-venta (actualizarMontos)="obtenerMontoVenta()"></app-transcripciones-venta>
		  				</div>
					</div>
	 			</div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="!formProductos && !formCopias && !formTranscripciones">
		<div class="col-lg-12">
			<div class="alert alert-dark text-center">
				<span class="h4"><i class="fas fa-info-circle"></i> No se han agregado items</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="row justify-content-end">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body bg-light text-dark">
							<div class="row">
								<div class="col-5">
									<span class="h5">Subtotal:</span>
								</div>
								<div class="col-7">
									<span class="h5">Bs. {{ subtotalVenta | separador }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-5">
									<span class="h5">IVA(19%):</span>
								</div>
								<div class="col-7">
									<span class="h5">Bs. {{ subtotalIVA | separador }}</span>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-5">
									<span class="h4">Total:</span>
								</div>
								<div class="col-7">
									<span class="h4">Bs. {{ totalVenta | separador }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-lg-12 text-right">
			<button class="btn btn-secondary btn-lg mr-2">Cancelar</button>
			<button class="btn btn-primary btn-lg">Confirmar</button>
		</div>
	</div>
</form>

<app-nuevo-cliente (actualizarClientes)="obtenerClientes()"></app-nuevo-cliente>
<app-producto (actualizarMontos)="obtenerMontoVenta()"></app-producto>
<app-nueva-transcripcion (actualizarMontos)="obtenerMontoVenta()" ></app-nueva-transcripcion>
<app-nueva-fotocopia (actualizarMontoCopias)="obtenerMontoVenta()"></app-nueva-fotocopia>