<div class="card">
	<div class="card-header bg-dark text-white">
		<h5 class="text-center">{{ transcripcion.titulo }}</h5>
	</div>
	<div class="card-body">
		<div class="contenido truncar" *ngIf="transcripcion.contenido != ''">
			{{ transcripcion.contenido }}
		</div>

		<div class="h4 text-center" *ngIf="transcripcion.contenido == ''">
			<i class="fas fa-eye-slash"></i> Se adjunto archivo con el contenido a investigar
		</div>
	</div>
	<div class="card-footer text-right">
		<div class="btn-group">
			<button class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#contenido" *ngIf="transcripcion.contenido != ''">
				<i class="fas fa-eye"></i>
			</button>

			<a [href]="'/assets/inv_archivos/'+archivo?.archivo" target="_blank" class="btn btn-secondary btn-lg" *ngIf="transcripcion.contenido == ''">
				<i class="fas fa-eye"></i>
			</a>

			<a class="btn btn-secondary btn-lg" [href]="'/assets/tarea_archivos/'+transcripcion.archivo_tarea" target="_blank">
				<i class="fas fa-file-alt"></i>
			</a>
		</div>
	</div>
</div>
<app-contenido [contenido]="transcripcion.contenido" *ngIf="transcripcion.contenido != ''"></app-contenido>