<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-eye"></i> Detalles de Empleado</span>
		<ol class="breadcrumb" style="float: right;">
	  		<li class="breadcrumb-item">
	    		<a routerLink="/inicio">
	    			<i class="fas fa-home"></i>
	    		</a>
	  		</li>
	  		<li class="breadcrumb-item">
	  			<a routerLink="/empleados">
	  				Empleados
	  			</a>
	  		</li>
	  		<li class="breadcrumb-item active">
	  			Detalles
	  		</li>
		</ol>
		<hr id="linea">
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-8 offset-lg-2">
		<table class="table table-hover" *ngIf="usuario">
			<tr>
				<th width="50%">Cédula de identidad</th>
				<td>{{usuario.cedula}}</td>
			</tr>

			<tr>
				<th width="50%">Nombres</th>
				<td>{{usuario.nombres}}</td>
			</tr>

			<tr>
				<th width="50%">Apellidos</th>
				<td>{{usuario.apellidos}}</td>
			</tr>

			<tr>
				<th width="50%">Nombre de usuario</th>
				<td>{{usuario.usuario}}</td>
			</tr>

			<tr>
				<th width="50%">Correo electrónico</th>
				<td>{{usuario.correo}}</td>
			</tr>

			<tr>
				<th width="50%">Teléfono</th>
				<td>{{usuario.telefono}}</td>
			</tr>

			<tr>
				<th width="50%">Dirección de habitación</th>
				<td>{{usuario.direccion}}</td>
			</tr>

			<tr>
				<th width="50%">Pregunta Secreta</th>
				<td>{{usuario.pregunta_secreta}}</td>
			</tr>

			<tr>
				<th width="50%">Respuesta Secreta</th>
				<td>{{usuario.respuesta_secreta}}</td>
			</tr>
		</table>
	</div>
</div>
