<table class="table table-hover" *ngIf="tareas?.length > 0">
	<thead class="bg-secondary text-white text-center">
		<tr>
			<th>#</th>
			<th>Fecha de Entrega</th>
			<th>Titulo</th>
			<th>Encargado</th>
			<th>Subtotal</th>
		</tr>
	</thead>
	<tbody class="text-center">
		<tr *ngFor="let tarea of tareas | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
			<td> {{ i+1 }}</td>
			<td>{{ tarea.fecha_entrega | date: 'dd-MM-yyyy hh:mm a' }}</td>
			<td>{{ tarea.titulo }}</td>
			<td>{{ tarea.usuario.usuario }}</td>
			<td>Bs. {{ tarea.monto | separador }}</td>
		</tr>
	</tbody>
</table>
<pagination-controls class="text-right" (pageChange)="p = $event"></pagination-controls>
