<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-shopping-cart"></i> Gestión de Ventas</span>
		<ol class="breadcrumb" style="float: right;">
	  		<li class="breadcrumb-item">
	    		<a href="#">
	    			<i class="fas fa-home"></i>
	    		</a>
	  		</li>
	  		<li class="breadcrumb-item active">Ventas</li>
		</ol>
		<hr id="linea">
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-12">
		<div class="row mb-3">
			<div class="col-lg-4">
				<div class="input-group" *ngIf="ventas.length > 0">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-search"></i></span>
					</div>
					<input type="text" class="form-control" placeholder="Buscar...">
				</div>
			</div>

			<div class="col-lg-8 text-right">
				<a routerLink="/ventas/nueva" class="btn btn-primary" data-toggle="tooltip" title="Agregar Producto">
					<i class="fas fa-plus"></i>
				</a>
			</div>
		</div>

		<table class="table table-hover" *ngIf="ventas.length > 0">
			<thead class="bg-secondary text-white text-center">
				<tr>
					<th>Fecha</th>
					<th>Cliente</th>
					<th>Total Venta</th>
					<th>Estado</th>
					<th></th>
				</tr>
			</thead>

			<tbody class="text-center">
				<tr *ngFor="let venta of ventas">
					<td class="align-middle">{{ venta.created_at | date: 'dd-MM-yyyy hh:mm a' }}</td>
					<td class="align-middle">{{ venta.cliente.cedula }} - {{ venta.cliente.nombres }} {{ venta.cliente.apellidos }} </td>
					<td class="align-middle">Bs. {{ venta.total | separador }} </td>
					<td class="align-middle">
						<span [ngClass]="venta.estatus == 1 ? 'badge badge-pill badge-success' : 'badge badge-pill badge-danger'"> 
						{{ venta.estatus == 1 ? 'Procesada' : 'Anulada' }}
						</span>
					</td>
					<td>
						<div class="btn-group">
							<button class="btn btn-secondary" data-toggle="tooltip" title="Ver">
								<i class="fas fa-eye"></i>
							</button>
							<button class="btn btn-secondary" data-toggle="tooltip" title="Anular">
								<i class="fas fa-times"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-lg-12">
		<div class="alert alert-secondary text-center" *ngIf="ventas.length == 0">
			<span class="h5"><i class="fas fa-info-circle"></i> No se ha encontrado ningún registro</span>
		</div>
	</div>
</div>
