<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-shopping-cart"></i> Gestión de Ventas</span>
		<ol class="breadcrumb" style="float: right;">
	  		<li class="breadcrumb-item">
	    		<a href="#">
	    			<i class="fas fa-home"></i>
	    		</a>
	  		</li>
	  		<li class="breadcrumb-item active">Ventas</li>
		</ol>
		<hr id="linea">
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-12">
		<div class="row mb-3">
			<div class="col-lg-4">
				<div class="input-group" *ngIf="ventas.length > 0">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-search"></i></span>
					</div>
					<input type="text" [(ngModel)]="busqueda" class="form-control" placeholder="Buscar...">
				</div>
			</div>

			<div class="col-lg-8 text-right">
				<a id="pointer" title="Actualizar lista" class="btn btn-link mr-1 text-secondary" (click)="listarVentas()">
					<i class="fas fa-sync"></i>
				</a>

				<a routerLink="/ventas/nueva" class="btn btn-primary" data-toggle="tooltip" title="Nueva Venta">
					<i class="fas fa-plus"></i>
				</a>
			</div>
		</div>

		<table class="table table-hover" *ngIf="ventas.length > 0">
			<thead class="bg-secondary text-white text-center">
				<tr>
					<th>Fecha</th>
					<th>Cliente</th>
					<th>Total Venta</th>
					<th>Estado</th>
					<th></th>
				</tr>
			</thead>

			<tbody class="text-center">
				<tr *ngFor="let venta of ventas | filtro: { created_at: busqueda, clienteAtendido: busqueda, estatusTexto: busqueda } | paginate: { itemsPerPage: 10, currentPage: p }">
					<td class="align-middle">{{ venta.created_at }}</td>
					<td class="align-middle">{{ venta.clienteAtendido }} </td>
					<td class="align-middle">Bs. {{ venta.total | separador }} </td>
					<td class="align-middle">
						<span [ngClass]="venta.estatusTexto == 'Procesada' ? 'badge badge-pill badge-success' : 'badge badge-pill badge-danger'"> 
						{{ venta.estatusTexto }}
						</span>
					</td>
					<td>
						<div class="btn-group">
							<a [routerLink]="['/ventas/detalles', venta.id]" class="btn btn-secondary" data-toggle="tooltip" title="Ver">
								<i class="fas fa-eye"></i>
							</a>
							<button class="btn btn-secondary" 
								data-toggle="tooltip" 
								[title]="venta.estatus == 1 ? 'Anular' : 'Reactivar'" 
								*ngIf="usuario?.rol_id == 1"
								(click)="venta.estatus == 1 ? anularVenta(venta.id) : reactivarVenta(venta.id)">
								<i [ngClass]="venta.estatus == 1 ? 'fas fa-times' : 'fas fa-check'"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<pagination-controls class="text-right" (pageChange)="p = $event"></pagination-controls>
	</div>

	<div class="col-lg-12">
		<div class="alert alert-secondary text-center" *ngIf="ventas.length == 0">
			<span class="h5"><i class="fas fa-info-circle"></i> No se ha encontrado ningún registro</span>
		</div>
	</div>
</div>
