<div class="row">
	<div class="col-lg-12">
		<span class="text-secondary h4"><i class="fas fa-shopping-cart"></i> Gestión de Ventas</span>
		<ol class="breadcrumb" style="float: right;">
	  		<li class="breadcrumb-item">
	    		<a href="#">
	    			<i class="fas fa-home"></i>
	    		</a>
	  		</li>
	  		<li class="breadcrumb-item active">Ventas</li>
		</ol>
		<hr id="linea">
	</div>
</div>

<div class="row mt-3">
	<div class="col-lg-12">
		<div class="row mb-3">
			<div class="col-lg-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-search"></i></span>
					</div>
					<input type="text" class="form-control" placeholder="Buscar...">
				</div>
			</div>

			<div class="col-lg-8 text-right">
				<a routerLink="/ventas/nueva" class="btn btn-primary" data-toggle="tooltip" title="Agregar Producto">
					<i class="fas fa-plus"></i>
				</a>
			</div>
		</div>
		<table class="table table-hover">
			<thead class="bg-secondary text-white text-center">
				<tr>
					<th>Fecha</th>
					<th>Cliente</th>
					<th>Total Venta</th>
					<th>Estado</th>
					<th></th>
				</tr>
			</thead>

			<tbody class="text-center">
				<tr>
					<td class="align-middle">05-05-2019</td>
					<td class="align-middle">V-24891011 - Pedro Martinez</td>
					<td class="align-middle">Bs. 55.000</td>
					<td class="align-middle"><span class="badge badge-pill badge-success">Procesada</span></td>
					<td>
						<div class="btn-group">
							<button class="btn btn-secondary" data-toggle="tooltip" title="Ver">
								<i class="fas fa-eye"></i>
							</button>
							<button class="btn btn-secondary" data-toggle="tooltip" title="Anular">
								<i class="fas fa-times"></i>
							</button>
						</div>
					</td>
				</tr>

				<tr>
					<td class="align-middle">05-05-2019</td>
					<td class="align-middle">V-23895594 - Juan Gonzalez</td>
					<td class="align-middle">Bs. 32.000</td>
					<td class="align-middle"><span class="badge badge-pill badge-success">Procesada</span></td>
					<td>
						<div class="btn-group">
							<button class="btn btn-secondary" data-toggle="tooltip" title="Ver">
								<i class="fas fa-eye"></i>
							</button>
							<button class="btn btn-secondary" data-toggle="tooltip" title="Anular">
								<i class="fas fa-times"></i>
							</button>
						</div>
					</td>
				</tr>

				<tr>
					<td class="align-middle">05-05-2019</td>
					<td class="align-middle">V-11891011 - Camilo Millan</td>
					<td class="align-middle">Bs. 9.750</td>
					<td class="align-middle"><span class="badge badge-pill badge-success">Procesada</span></td>
					<td>
						<div class="btn-group">
							<button class="btn btn-secondary" data-toggle="tooltip" title="Ver">
								<i class="fas fa-eye"></i>
							</button>
							<button class="btn btn-secondary" data-toggle="tooltip" title="Anular">
								<i class="fas fa-times"></i>
							</button>
						</div>
					</td>
				</tr>

				<tr>
					<td class="align-middle">05-05-2019</td>
					<td class="align-middle">V-15781328 - Luisa Arismendi</td>
					<td class="align-middle">Bs. 48.950</td>
					<td class="align-middle"><span class="badge badge-pill badge-success">Procesada</span></td>
					<td>
						<div class="btn-group">
							<button class="btn btn-secondary" data-toggle="tooltip" title="Ver">
								<i class="fas fa-eye"></i>
							</button>
							<button class="btn btn-secondary" data-toggle="tooltip" title="Anular">
								<i class="fas fa-times"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
