<form [formGroup]="producto" (ngSubmit)="guardarProducto()">
    <div class="modal" tabindex="-1" role="dialog" id="agregarProducto">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary text-white">
                    <h5 class="modal-title">Nuevo Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" 
                        formControlName="nombre"
                        class="form-control" 
                        placeholder="Ingresa el nombre"
                        [ngClass]="{ 'is-invalid': f.nombre.errors && submitted }">

                        <div class="invalid-feedback" *ngIf="f.nombre.errors && submitted">
                            <div *ngIf="f.nombre.errors.required">Este campo es requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Categoria</label>
                        <select class="form-control"
                            formControlName="categoriasProductoId"
                            [ngClass]="{ 'is-invalid':  f.categoriasProductoId.errors && submitted }">
                            <option value="">Seleccione...</option>
                            <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
                        </select>

                        <div class="invalid-feedback" *ngIf="f.categoriasProductoId.errors && submitted">
                            <div *ngIf="f.categoriasProductoId.errors.required">Debe seleccionar una opción</div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#!" #cerrarModal class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
                    <button type="submit" [disabled]="producto.invalid" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>